@import './common/var';
@import './mixins/mixins';

@include b(button) {
  display: inline-block;
  min-height: 30px;
  min-width: 70px;
  outline: none;
  border: #817272;
  user-select: none;
  padding: 0 15px;
  border-radius: 5px;
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  & [class^='u-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
  }
  @include when(round) {
    border-radius: 20px;
  }

  @include m(primary) {
    @include buttonClass($--color-white, $--color-primary);
  }

  @include m(info) {
    @include buttonClass($--color-white, $--color-info);
  }

  @include m(warning) {
    @include buttonClass($--color-white, $--color-warning);
  }

  @include m(danger) {
    @include buttonClass($--color-white, $--color-danger);
  }
}
