@import 'config';

@mixin b($block) {
  $B: $namespace + '-' + $block;
  /**
    .u-block {
      xxx: xxx
    }
  */
  .#{$B} {
    @content;
  }
}

@mixin when($state) {
  @at-root {
    /**
    u-button.is--state {
      xxx: xxx
    }
    */
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}

@mixin m($modifier) {
  /**
  .u-button--modifier {
  }
  */
  @at-root {
    #{& + $modifier-separator + $modifier} {
      @content;
    }
  }
}

@mixin e($element) {
  /**
  .u-button__element {
  }
  */
  @at-root {
    #{& + $element-separator + $element} {
      @content;
    }
  }
}

@mixin buttonClass($color, $bgColor) {
  color: $color;
  background-color: $bgColor;
}
